/*Общее*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  margin-top: 0;
}

main {
  padding-top: 200px;
}

body {
  background: #edeef0;
}

a {
  text-decoration: none !important;
}

img {
  width: auto;
}
/*Общее*/

/*Блок пути*/

.blockPath {
  margin: 20px 0 0 245px;
  font-weight: 600;
  font-size: 20px;
}

.blockPath a{
  color: #7F9ACE;
}

.blockPath span{
  color: #4D689C;
}

/*Блок пути*/

@media (max-width: 1200px) {
  .blockPath {
    margin-left: 200px;
  }
}

@media (max-width: 1000px) {
  .blockPath {
    margin-left: 100px;
  }
}

@media (max-width: 700px) {
  .blockPath {
    margin-left: 50px;
  }
}
