.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 130px 20px 245px;
}

.logoBlock {
  display: flex;
  cursor: pointer;
}

.textLogoBlock {
  display: flex;
  align-items:flex-end;
  font-size: larger;
  padding-bottom: 5px;
}

.buttonCart {
  cursor: pointer;
}

.buttonCart a {
  color: #4D689C
}

.buttonCart a:hover {
  color: #e75413
}

@media (max-width: 1200px) {
  .headerTop {
    margin-left: 120px;
  }
}

@media (max-width: 800px) {
  .headerTop {
    margin: 0 100px 10px;
  }
}

@media (max-width: 700px) {
  .headerTop {
    margin: 0 40px 10px;
  }
}