.container {
  display: flex;
  flex-wrap:wrap;
}

.img {
  width: auto;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
}

.card {
  margin: 50px 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: all .3s;
}

.card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}